/*
colours used:
primary - navy blue 100% #005080; 75% #407ca0; 50% #80a8bf; 25% #bfd3df; active (dark) #00446d;
secondary - magenta #f85399;
header background - very light navy blue #f4f7f8;
background - #fdfdfd;
text - #4c4c4c;
*/

/* ------------------------ BASE CODE ------------------------ */

/* ---SITE WIDE GENERAL STYLING--- */
* {
  /* this is the universal selector */
  box-sizing: border-box;

  /* this makes responsive design more simple - it sets the default width of an element to include the padding and the border */
}

/* body */
body {
  background-color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4c4c4c;
}

/* headings */

h1,
h2,
h3 {
  line-height: 1.4;
  color: #4c4c4c;
}

h1 {
  color: #005080;
  font-size: 2.125em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

/* images */
img {
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

/* iframes */
iframe {
  width: 100%;
  height: 500px;
  border: none;
}

/* links */
a {
  color: #005080;
  font-weight: 400;
  transition: 0.2s opacity;
}

a:visited {
  color: #407ca0;
}

a:hover,
a:focus {
  color: #f85399;
}

a:active {
  color: #00446d;
}

/* primary buttons */
.button {
  display: inline-block;
  background-color: #005080;
  color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #bfd3df;
  text-decoration: none;
  transition: 0.2s opacity;
}

.button:visited {
  color: white;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  color: white;
}

.button:active {
  background-color: #00263d;
}

#coming-soon {
  background: none;
  color: #407ca0;
}

/* seconary buttons */
.button.contact {
  background-color: transparent;
  color: #005080;
  text-transform: uppercase;
  border-top: 2px solid #005080;
  border-right: 2px solid #005080;
  border-left: 2px solid #005080;
  text-align: center;
}

.button.contact:hover,
.button.contact:focus {
  background-color: rgba(0, 80, 128);
  color: white;
}

.button.contact:active {
  background-color: #00263d;
}

/* logo */
.logo {
  max-width: 40px;
}

/* social media icons */
.fab {
  font-size: 1.5em;
}

/* copyright */
#copyright {
  font-size: 14px;
  text-align: center;
}

/* ---SECTION STYLING--- */

/* HEADER */
header {
  background-color: #f4f7f8;
  padding: 10px 0 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  width: 100%;
}

/* MAIN */
main {
  padding-top: 60px;
}

/* FOOTER */
footer {
  background-color: #f4f7f8;
  text-align: center;
  padding: 17px 0 50px;
  width: 100%;
  margin-top: 50px;
}

footer div p {
  max-width: 650px;
  margin: auto;
}

/* ---NAVIGATION--- */

/* HEADER NAVIGATION */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  margin: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #005080;
  padding-right: 600px;
}

nav ul li a:visited {
  color: #005080;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #005080;
}

nav ul li a:active {
  color: #80a8bf;
}

nav ul li.active {
  background: rgba(191, 211, 223, 0.7);
}

/* HAMBURGER MENU */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  border-bottom: none;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #bfd3df;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 70px;
}

#contact-active {
  border-bottom: none;
}

#menu-icon {
  margin-right: 0;
}

/* FOOTER NAVIGATION */

/* links to social media */
.social-links {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.social-links li {
  display: inline-block;
  padding: 10px;
}

/* --- LAYOUT STYLING --- */

/* SITE WIDE LAYOUT STYLING */
.container {
  /* wrapper to hold layout together, max size and centred on page. class applied to div after first tag in each section */
  padding: 0 15px;

  /* left and right padding ensures none of the content inside is flush against edges of screen  */
}

.row {
  margin: 25px 0;

  /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: center;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.page-heading {
  padding: 25px 0;
}

/* HOME PAGE LAYOUT STYLING */
#home-content .row {
  padding-bottom: 50px;
  margin-top: 50px;
  border-bottom: 1px solid #80a8bf;
}

#home-content .row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#home-hero {
  background-color: #f4f7f8;
  text-align: center;
  padding: 40px 0 50px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}

#home-hero h1 {
  margin-top: 0;
}

#avatar {
  max-width: 500px;
}

#home-hero span {
  display: block;
  font-weight: 400;
}

#home-content span {
  display: inline-block;
}

/* svg animation */
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ABOUT PAGE LAYOUT STYLING */

/* WEE QUESTS PAGE LAYOUT STYLING */
#project-content h2 {
  margin-top: 50px;
}

#project-content h3 {
  margin-top: 50px;
}

#project-content span {
  font-weight: 600;
}

#project-content figure {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* specific image styling */
#alba-flying {
  padding-top: 50px;
}

/* --- KEYFRAMES --- */

/* animations */
@keyframes color-change {
  from {
    fill: #f8a553;
  }

  to {
    fill: #f87f53;
  }

  from {
    transform: translate(272px, 50px) scale(1);
  }

  to {
    transform: translate(400px, 200px) scale(1.4);
  }
}

.sun {
  animation-duration: 10s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-tl {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-300px, 100px);
  }
}

.cloud-tr {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes sky-change {
  from {
    fill: #feefe9;
  }

  to {
    fill: #fbb9a9;
  }
}

.sky {
  animation: 10s sky-change infinite alternate linear;
}

@keyframes foreground-change {
  from {
    fill: #80a0bf;
  }

  to {
    fill: #4d7aa7;
  }
}

.scene {
  animation: 10s foreground-change infinite alternate linear;
}

/* ------------------------ MEDIA QUERIES ------------------------ */

/* ---MEDIUM DEVICES (640PX AND LARGER---) */
@media only screen and (min-width: 640px) {
  /* ---MEDIUM GENERAL STYLING--- */

  /* M body */
  body {
    font-size: 18px;
  }

  /* M headings */

  /* M images */

  /* M iframes */

  /* M links */

  /* M primary buttons */

  /* M seconary buttons */

  /* M logo */

  /* M social media icons */

  /* M copyright */

  /* --- MEDIUM SECTION STYLING--- */

  /* M HEADER */
  header {
    text-align: unset;
    padding: 15px 0 8px;
  }

  /* M MAIN */
  main {
    padding-top: 60px;
  }

  /* M FOOTER */

  /* --- MEDIUM NAVIGATION--- */

  /* M HEADER NAVIGATION */
  nav {
    width: auto;
    float: right;
    margin-top: 8px;
    display: inline-block;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    padding-right: 0;
  }

  nav ul li a:hover,
  nav ul li a:focus {
    color: #005080;
    border-bottom: 3px solid #bfd3df;
  }

  nav ul li.active a {
    border-bottom: 3px solid #bfd3df;
  }

  nav ul li.active {
    background: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
    border-top: none;
  }

  .navtoggle li:last-child {
    display: none;
  }

  /* M FOOTER NAVIGATION */

  /* M links to social media */

  /* --- MEDIUM LAYOUT STYLING --- */

  /* M SITE WIDE LAYOUT STYLING */
  .col-md-6 {
    width: 50%;
  }

  .row-md {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* M HOME PAGE LAYOUT STYLING */
  #home-content h3 {
    margin-top: 0;
  }

  #home-content h2 {
    padding-left: 10px;
  }

  /* M ABOUT PAGE LAYOUT STYLING */
  #about-content h3 {
    margin-top: 0;
  }

  #about-hero {
    padding-top: 15px;
  }

  /* M WEE QUESTS PAGE LAYOUT STYLING */
  #project-hero {
    padding-top: 15px;
  }

  /* END OF MEDIUM MEDIA QUERY */
}

/* ---LARGE DEVICES (1024PX AND LARGER---) */
@media only screen and (min-width: 1024px) {
  /* --- LARGE GENERAL STYLING--- */

  /* L body */

  /* L headings */

  /* L images */

  /* L iframes */

  /* L links */

  /* L primary buttons */

  /* L seconary buttons */

  /* L logo */

  /* L social media icons */

  /* L copyright */

  /* ---  LARGE SECTION STYLING--- */

  /* L HEADER */

  /* L MAIN */

  /* L FOOTER */

  /* ---  LARGE NAVIGATION--- */

  /* L HEADER NAVIGATION */

  /* L FOOTER NAVIGATION */

  /* L links to social media */

  /* ---  LARGE LAYOUT STYLING --- */

  /* L SITE WIDE LAYOUT STYLING */
  .col-md-6 {
    width: unset;
    padding-top: 0;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }

  /* L HOME PAGE LAYOUT STYLING */
  #home-content h2 {
    padding-left: 10px;
  }

  /* L ABOUT PAGE LAYOUT STYLING */
  #about-content h3 {
    margin-top: 0;
  }

  #skills-tools-lg {
    padding-left: 80px;
  }

  /* L WEE QUESTS PAGE LAYOUT STYLING */

  /* END OF LARGE MEDIA QUERY */
}

/* ---X LARGE DEVICES (1024PX AND LARGER---) */

@media only screen and (min-width: 1140px)
