/*
colours used:
primary - navy blue 100% #005080; 75% #407CA0; 50% #80A8BF; 25% #BFD3DF; active (dark) #00446D;
secondary - magenta #F85399;
header background - very light navy blue #F4F7F8;
background - #FDFDFD;
text - #4C4C4C;
*/

/* site-wide general styling */
* {
  /* this is the universal selector */
  box-sizing: border-box;
  /* this makes responsive design more simple - it sets the default width of an element to include the padding and the border */
}

body {
  background-color: #FDFDFD;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4C4C4C;
}

h1, h2, h3 {
  line-height: 1.4;
  color: #4C4C4C;
}

h1 {
  color: #005080;
  font-size: 2.125em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

a {
  color: #407CA0;
  font-weight: 400;
  text-decoration: underline;
}

a:visited {
  color: #407CA0;
}

a:hover,
a:focus {
  color: #F85399;
}

a:active {
  color: #00446D;
}

.logo {
  max-width: 75px;
  padding: 10px;
}

#copyright {
  font-size: 14px;
  text-align: center;
}

/* button styling */
.button {
  display: inline-block;
  background-color: #005080;
  color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #BFD3DF;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:visited {
  color: white;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.button:active {
  background-color: #00263D;
}

.button.contact {
  background-color: transparent;
  color: #005080;
  text-transform: uppercase;
  border-top: 2px solid #005080;
  border-right: 2px solid #005080;
  border-left: 2px solid #005080;
  text-align: center;
}

.button.contact:hover,
.button.contact:focus {
  background-color: rgba(0, 80, 128, 100);
  color: white;
}

.button.contact:active {
  background-color: #00263D;
}

/* social media styling */
.fab {
  font-size: 1.5em;
}

/* iframe styling */
iframe {
  width: 300px;
  height: 533px;
  border: none;
}

/* section styling */
header {
  background-color: #F4F7F8;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.16);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 159px
}

#home-hero {
  background-color: #F4F7F8;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* header navigation */
nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  margin: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #005080;
}

nav>ul>li>a:visited {
  color: #005080;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #005080;
  border-bottom: 3px solid #BFD3DF;
}

nav>ul>li>a:active {
  color: #80A8BF;
}

/* footer navigation */
.social-links {
  list-style-type: none;
  padding: 0px;
  text-align: center;
}

.social-links>li {
  display: inline-block;
  padding: 10px;
}

/* layout styling */
.container {
  /* wrapper to hold layout together, max size and centred on page. class applied to div after first tag in each section */
  padding: 0 15px;
  /* left and right padding ensures none of the content inside is flush against edges of screen  */
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: center;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#home-content .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #80A8BF;
}

/* specific image styling */
#alba-flying {
  padding-top: 20px;
}
