/*
colours used:
light navy blue: #0069A9
mid navy blue: #005080
dark navy blue: #003D62
off white (for background): #FDFDFD
primary text colour: #4C4C4C
link hover: FF00A0

colours not used yet:
light blue: #C4F0FC
mint green: #CEF7E9
light grey: #F9FAFA

*/

/* site-wide general styling */

* { /* this is the universal selector */
  box-sizing: border-box; /* this makes responsive design more simple - it sets the default width of an element to include the padding and the border */
}

body {
  background-color: #FDFDFD;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4C4C4C;
}

h1, h2, h3 {
  line-height: 1.4;
  color: #4C4C4C;
}

h1 {
  font-size: 2.125em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

a {
  color: #0069A9;
  font-weight: 400;
  text-decoration: underline;
}

a:visited {
  color: #0069A9;
}

a:hover,
a:focus {
  color: #FF00A0;
}

a:active {
  color: #003D62;
}

.logo {
  max-width: 75px;
}

/* button styling */

.button {
  display: inline-block;
  background-color: #005080;
  color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4C4C4C;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:visited {
  color: white;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.button:active {
  background-color: #00263D;
}

.button.contact {
  background-color: transparent;
  color: #005080;
  text-transform: uppercase;
  border-top: 2px solid #005080;
  border-right: 2px solid #005080;
  border-left: 2px solid #005080;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #005080;
  color: white;
}

.button.contact:active {
  background-color: #00263D;
}

/* social media styling */

.fab {
  font-size: 1.5em;
}


/* section styling */

header {
  background-color: #C4F0FC;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.16);
  position:fixed;
  width: 100%;
}

main {
padding-top: 159px
}

#home-hero {
  background-color: #C4F0FC;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


/* header navigation */

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  margin: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #005080;
}

nav > ul > li > a:visited {
color: #005080;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
color: #0069A9;
  border-bottom: 3px solid #0069A9;
}

nav > ul > li > a:active {
  color: #003D62;
  border-bottom: 3px solid #0069A9;
}

/* footer navigation */

.social-links {
  list-style-type: none;
  padding: 0px;
  text-align:center;
}

.social-links > li {
  display: inline-block;
  padding: 10px;
}

/* layout styling */

.container { /* wrapper to hold layout together, max size and centred on page. class applied to div after first tag in each section */
  padding: 0 15px; /* left and right padding ensures none of the content inside is flush against edges of screen  */
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#home-content .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #0069A9;
}
